@use "./variables" as vars;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Texts' mixins
@mixin grey-section-txt {
  color: vars.$txt-secondary-color;
  font-size: vars.$txt-xxl;
  font-weight: vars.$font-weight-regular;
}

// Basic box shadow for elemets with hover for mouse/keyboard devices only (no touch screens)
@mixin box-shadow-with-hover {
  box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
  @media (hover: hover) {
    &:hover {
      box-shadow: 0 26px 48px -23px vars.$accent-color;
    }
  }
}

// universal mixin for hover for mouse/keyboard devices (no touch screens)
@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

// Approximate styles for glass effect
@mixin glass-effect {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  blur: 50%;
}

// Universal mixin for linear gradient for elements, direction will depend on deg used in mixin
@mixin violet-gradient($direction: 180deg) {
  background: linear-gradient($direction, vars.$accent-color, vars.$end-color);
}

// Main container (approximate sizes)
@mixin container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: 991px) {
    max-width: 900px;
  }
  @media (max-width: 575px) {
    padding: 0 30px;
  }
}
