@use "./variables" as vars;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Texts' mixins
@mixin grey-section-txt {
  color: vars.$txt-secondary-color;
  font-size: vars.$txt-xxl;
  font-weight: vars.$font-weight-regular;
}

// Basic box shadow for elemets with hover for mouse/keyboard devices only (no touch screens)
@mixin box-shadow-with-hover {
  box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
  @media (hover: hover) {
    &:hover {
      box-shadow: 0 26px 48px -23px vars.$accent-color;
    }
  }
}

// universal mixin for hover for mouse/keyboard devices (no touch screens)
@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

// Approximate styles for glass effect
@mixin glass-effect {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

// Universal mixin for linear gradient for elements, direction will depend on deg used in mixin
@mixin violet-gradient($direction: 180deg) {
  background-image: linear-gradient($direction, vars.$accent-color, vars.$end-color);
}

// Main container (approximate sizes)
@mixin container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: vars.$breakpoint-xl) {
    max-width: 900px;
  }
  @media (max-width: vars.$breakpoint-l) {
    padding: 0 20px;
  }
}

// Cards and lists for: introduction, about editor, instruction, usefull

@mixin section-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style: none;
  padding: 0;
  @media (max-width: vars.$breakpoint-xxl) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: vars.$breakpoint-l) {
    grid-template-columns: 1fr;
  }
}

@mixin list-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
  border-radius: vars.$br-radius-m;
  box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
  transition:
    color 0.3s ease,
    background-color 0.5s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  @media (max-width: vars.$breakpoint-l) {
    flex-direction: row;
    align-items: center;
  }
  @include hover {
    background-color: vars.$accent-color;
    color: vars.$txt-tertiary-color;
    transform: scale(1.05);
    transform: translateY(-3px);
    box-shadow: 0 26px 48px -23px vars.$accent-color;
  }

  & img {
    width: 80px;
    @media (max-width: vars.$breakpoint-xl) {
      width: 60px;
    }
  }
  & span {
    font-size: vars.$title-m;
    font-weight: vars.$font-weight-medium;
    line-height: vars.$line-height-160;
    @media (max-width: vars.$breakpoint-xl) {
      font-size: vars.$txt-xxl;
    }
  }
}

@mixin section-content {
  display: flex;
  justify-content: flex-start;
  gap: 140px;
  margin-bottom: 80px;
  @media (max-width: vars.$breakpoint-xxl) {
    gap: 50px;
  }
  @media (max-width: vars.$breakpoint-l) {
    flex-direction: column;
    gap: 20px;
  }
}

@mixin section-title {
  font-size: vars.$title-xl;
  margin: 0;
  &--violet {
    color: vars.$accent-color;
    white-space: nowrap;
  }

  @media (max-width: vars.$breakpoint-xl) {
    font-size: vars.$title-m;
  }
  @media (max-width: vars.$breakpoint-l) {
    text-align: center;
  }
}

@mixin section-txt {
  font-size: vars.$txt-xxl;
  color: vars.$txt-secondary-color;
  line-height: vars.$line-height-200;
  &--black {
    color: vars.$txt-primary-color;
  }

  @media (max-width: vars.$breakpoint-xl) {
    font-size: vars.$txt-m;
  }
  @media (max-width: vars.$breakpoint-l) {
    text-align: center;
  }
}
