// Text colors
$txt-primary-color: #131313;
$txt-secondary-color: #828282;
$txt-tertiary-color: #f8f9fa; // btns txt, hero small card - а тебе нужен именно третий цвет? может если это, например, для фона кнопок или чего-то еще, то стоит назвать его более конкретно
// Я этот белый собираюсь использовать для текста в маленькой карточке, для основного цвета текста в кнопках, поэтому решил, что он будет именно третий txt-color

$link-color: #565656; // only in navbar
$accent-color: #7421b0; // (txt, bg, hover)

// Background colors
$bg-primary-color: #f8f9fa;
$bg-secondary-color: #fafafa;
// Gradient second colors
$end-color: #d08eff;

// Elements
$elements-black-color: #131313; // Burger, btn bgc

// Titles sizes
$title-xxl: 48px;
$title-xl: 36px;
$title-l: 24px;
$title-m: 20px;
$title-s: 18px;

// Text sizes
$txt-xxl: 18px;
$txt-xl: 16px;
$txt-l: 14px;
$txt-m: 12px;

// Text / Titles weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Line height
$line-height-200: 200%;
$line-height-180: 180%;
$line-height-170: 170%;
$line-height-160: 160%;
$line-height-150: 150%;
$line-height-140: 140%;

// Elements border radius
$br-radius-xl: 70px; // Squircle
$br-radius-l: 16px; // FAQ cards
$br-radius-m: 10px; // regular cards
$br-radius-s: 5px; // btns

// Approximate breakpoints
$breakpoint-xl: 991px;
$breakpoint-l: 575px;
$breakpoint-m: 400px;

// не забывай что шрифты ты можешь задавать подобным синтаксисом - font: [style] [variant] [weight] [stretch] size[/line-height] family;
// пример: font: 600 16px/1.4 "Roboto", sans-serif; или font: italic 400 14px/20px Arial, sans-serif;

// те же волны-линии или размытые фигуры тебе ничто не мешает поместить как svg в псевдоэлементы и позиционировать их как нужно (линии я бы в дальнейшем анимировал чтобы переливались цвета) ⏳ Понимаю логику, но надо еще осмыслить, переварить

// как правило делается: $color-hover, $color-active, $color-disabled, $color-border - проверь по макету что надо в твоей верстке ⏳
