@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.faq {
  position: relative;
  background: linear-gradient(90deg, rgba(179, 63, 173, 0.1) 0%, rgba(211, 202, 71, 0.1) 100%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 100px 0 170px 0;
  @media (max-width: vars.$breakpoint-xl) {
    padding: 60px 0;
  }
  &__summary {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    gap: 140px;
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
    @media (max-width: vars.$breakpoint-faq-list) {
      gap: 85px;
    }
    @media (max-width: vars.$breakpoint-xxl) {
      gap: 85px;
    }
    @media (max-width: vars.$breakpoint-xl) {
      gap: 40px;
    }
    @media (max-width: vars.$breakpoint-l) {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__content {
    padding: 0 25px 25px 195px;
    @media (max-width: vars.$breakpoint-xxl) {
      padding: 0 25px 0 140px;
    }
    @media (max-width: vars.$breakpoint-xl) {
      padding: 0 25px 0 80px;
    }
    @media (max-width: vars.$breakpoint-xl) {
      padding: 0;
    }
    &-wrapper {
      overflow: hidden;
      min-height: 0;
    }
  }
  &__cross {
    position: absolute;
    right: 50px;
    top: 75px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    @media (max-width: vars.$breakpoint-xl) {
      right: 50px;
      top: 60px;
    }
    @media (max-width: vars.$breakpoint-l) {
      right: 30px;
      top: 40px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: vars.$element-black-color;
      transition: background-color 0.3s ease;
    }

    &::before {
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      transform: translateY(-50%);
    }

    &::after {
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      transform: translateX(-50%);
    }
  }

  &__card[open] {
    .faq__cross {
      transform: translateY(-50%) rotate(45deg);
      &::before,
      &::after {
        background-color: vars.$accent-color;
      }
    }
  }
  &__cone {
    position: absolute;
    bottom: 65%;
    left: 12%;
    width: 216px;
    @media (max-width: vars.$breakpoint-xl) {
      width: 118px;
    }
    @media (max-width: vars.$breakpoint-l) {
      width: 167px;
      left: -20%;
    }
  }
  &__sphere {
    position: absolute;
    &--big {
      bottom: 10%;
      right: 10%;
      @media (max-width: vars.$breakpoint-l) {
        width: 106px;
      }
    }
    &--small {
      bottom: 25%;
      right: 8%;
      @media (max-width: vars.$breakpoint-l) {
        width: 48px;
      }
    }
  }
  &__title {
    font-size: vars.$title-xxl;
    font-weight: vars.$font-weight-bold;
    text-align: center;
  }
  &__list {
    list-style: none;
    display: grid;
    gap: 40px;
    padding: 0;
    &-item {
      @include mixin.glass-effect;
      border-radius: vars.$br-radius-l;
      flex: 1 1 0;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    height: 50px;
    gap: 20px;
    padding: 50px;
    transition: height 0.3s ease-in-out;

    &[open] {
      height: auto;
    }
    @media (max-width: vars.$breakpoint-xl) {
      gap: 20px;
    }
    @media (max-width: vars.$breakpoint-l) {
      flex-direction: column;
      gap: 20px;
      padding: 30px;
    }
    &-question {
      color: vars.$txt-primary-color;
      font-weight: vars.$font-weight-medium;
      font-size: vars.$title-l;
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$title-m;
      }
    }
    &-answer {
      color: vars.$txt-secondary-color;
      font-size: vars.$txt-xxl;
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$txt-l;
      }
      @media (max-width: vars.$breakpoint-l) {
        font-size: vars.$txt-m;
      }
    }
    &-number {
      color: vars.$accent-color;
      font-size: vars.$title-xl;
      font-weight: vars.$font-weight-bold;
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$title-l;
      }
    }
  }
}
