@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.footer {
  background-color: vars.$bg-secondary-color;
  padding: 60px 0;
  @media (max-width: vars.$breakpoint-xl) {
    padding: 50px 0;
  }
  @media (max-width: vars.$breakpoint-l) {
    padding: 30px 0;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;

    @media (max-width: vars.$breakpoint-xl) {
      flex-direction: column;
    }
  }
  &__navigation {
    &-list {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 30px;
      list-style: none;
      margin: 0 0 0 150px;

      @media (max-width: vars.$breakpoint-xxl) {
        gap: 30px;
        margin: 0 0 0 50px;
      }
      @media (max-width: vars.$breakpoint-xl) {
        // gap: 105px;
        margin: 40px 0 0 0;
        padding: 0;
      }
      @media (max-width: vars.$breakpoint-l) {
        max-width: 75vw;
        flex-wrap: wrap;
        gap: 25px;
      }
    }
    &-item {
      display: inline-block;
      position: relative;
      color: vars.$txt-primary-color;
      font-size: vars.$title-m;
      line-height: vars.$line-height-160;
      font-weight: vars.$font-weight-medium;
      text-decoration: none;
      transition: transform 0.3s ease;
      @include mixin.hover {
        transform: scale(1.1);
      }
      &:active {
        transform: translateY(3px);
      }
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$title-s;
      }
      @media (max-width: vars.$breakpoint-l) {
        font-size: vars.$txt-l;
      }
    }
  }
  &__product {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      list-style: none;
      padding: 0;
      margin-top: 25px;
    }
    &-item {
      position: relative;
      text-decoration: none;
      display: inline-block;
      color: vars.$txt-secondary-color;
      font-size: vars.$txt-xxl;
      line-height: vars.$line-height-200;
      transition:
        transform 0.3s ease,
        color 0.3s ease;
      &::after {
        // decorative line below the link
        position: absolute;
        bottom: -1px;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 3px;
        background-color: vars.$accent-color;
        transition: width 0.3s ease;
      }
      @include mixin.hover {
        color: vars.$accent-color;
        &::after {
          width: 100%;
        }
      }
      &:active {
        transform: translateY(3px);
      }
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$txt-l;
      }
      @media (max-width: vars.$breakpoint-l) {
        font-size: vars.$txt-m;
      }
    }
  }
}
