@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.footer {
  background-color: vars.$bg-secondary-color;
  padding: 60px 0;
  @media (max-width: vars.$breakpoint-xl) {
    padding: 50px 0;
  }
  @media (max-width: vars.$breakpoint-l) {
    padding: 30px 0;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;

    @media (max-width: vars.$breakpoint-xl) {
      flex-direction: column;
    }
  }
  &__navigation {
    &-list {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 30px;
      list-style: none;
      margin: 0 0 0 150px;

      // @media (max-width: vars.$breakpoint-footer-list) {
      //   gap: 65px;
      // }
      @media (max-width: vars.$breakpoint-xxl) {
        gap: 30px;
        margin: 0 0 0 50px;
      }
      @media (max-width: vars.$breakpoint-xl) {
        // gap: 105px;
        margin: 40px 0 0 0;
        padding: 0;
      }
      @media (max-width: vars.$breakpoint-l) {
        max-width: 75vw;
        flex-wrap: wrap;
        gap: 25px;
      }
    }
    &-item {
      color: vars.$txt-primary-color;
      font-size: vars.$title-m;
      line-height: vars.$line-height-160;
      font-weight: vars.$font-weight-medium;
      text-decoration: none;
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$title-s;
      }
      @media (max-width: vars.$breakpoint-l) {
        font-size: vars.$txt-l;
      }
    }
  }
  &__product {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      list-style: none;
      padding: 0;
      margin-top: 25px;
    }
    &-item {
      text-decoration: none;
      color: vars.$txt-secondary-color;
      font-size: vars.$txt-xxl;
      line-height: vars.$line-height-200;

      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$txt-l;
      }
      @media (max-width: vars.$breakpoint-l) {
        font-size: vars.$txt-m;
      }
    }
  }
}
