@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.footer {
  background-color: vars.$bg-secondary-color;
  padding: 60px 0;
  &__wrapper {
    display: flex;
    @media (max-width: vars.$breakpoint-xl) {
      flex-direction: column;
    }
  }
  &__navigation {
    &-list {
      display: flex;
      list-style: none;
      margin-left: auto;
      gap: 200px;
      @media (max-width: vars.$breakpoint-footer-list) {
        gap: 65px;
      }
      @media (max-width: vars.$breakpoint-xxl) {
        gap: 50px;
      }
      // @media (max-width: vars.$breakpoint-xl) {
      //   gap: 105px;
      // }
    }
    &-item {
      color: vars.$txt-primary-color;
      font-size: vars.$title-m;
      line-height: vars.$line-height-160;
      font-weight: vars.$font-weight-medium;
      text-decoration: none;
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$title-s;
      }
    }
  }
  &__product {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      list-style: none;
      padding: 0;
      margin-top: 25px;
    }
    &-item {
      text-decoration: none;
      color: vars.$txt-secondary-color;
      font-size: vars.$txt-xxl;
      line-height: vars.$line-height-200;

      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$txt-l;
      }
    }
  }
}
