@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.hero {
  padding-top: 100px;
  &__wrapper {
    @include mixin.flex-row;
    justify-content: space-between;
  }
  &__content {
    position: relative;
    @include mixin.flex-column;
    align-items: flex-start;
    max-width: 525px;
    margin-right: auto;
    &::after {
      content: url(/assets/decor/arrow-down.svg);
      position: absolute;
      top: 605px;
    }

    &-title {
      color: vars.$txt-primary-color;
      font-size: vars.$title-xxl;
      margin: 0;
    }
    &-txt {
      @include mixin.grey-section-txt;
      line-height: vars.$line-height-200;
      margin: 40px 0px 80px 0;
    }
  }
  &__element-ring {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  &__media {
    flex: 0 1 50%;

    &-composition {
      position: relative;
      width: 100%;
      max-width: 500px;
      &::before {
        content: "";
        position: absolute;
        top: -88px;
        left: 35%;
        width: 800px;
        height: 740px;
        border-radius: vars.$br-radius-xl;
        @include mixin.violet-gradient(180deg);
        z-index: -1;
      }
      &::after {
        content: url(/assets/decor/hero-line.svg);
        position: absolute;
        width: 100px;
        height: 100px;
        top: -100px;
        left: -950px;
        z-index: -1;
      }
    }

    &-img {
      position: absolute;
      left: 50px;
      z-index: 2;
    }
    &-card {
      @include mixin.flex-center;
      position: absolute;
      top: 450px;
      left: 430px;
      max-width: 282px;
      min-width: 180px;
      border-radius: vars.$br-radius-m;
      @include mixin.glass-effect;
      color: vars.$txt-tertiary-color;
      z-index: 3;
    }
  }
}

.highlight {
  background-color: vars.$accent-color-transparent;
  color: vars.$accent-color;
  border: 2px solid vars.$accent-color;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding: 5px;
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: vars.$accent-color;
    top: -5px;
    left: -5px;
    box-shadow:
      107.5px 0 0 vars.$accent-color,
      215px 0 0 vars.$accent-color;
  }
  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: vars.$accent-color;
    bottom: -5px;
    left: -5px;
    box-shadow:
      107.5px 0 0 vars.$accent-color,
      215px 0 0 vars.$accent-color;
  }
}
