@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.hero {
  padding-top: 70px;
  position: relative;
  overflow-x: clip;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: vars.$breakpoint-l) {
      flex-direction: column;
      align-items: center;
      gap: 160px;
    }
  }
  &__content {
    position: relative;
    @include mixin.flex-column;
    align-items: flex-start;
    max-width: 525px;
    margin-right: auto;
    @media (max-width: vars.$breakpoint-l) {
      order: 2;
    }
    &::after {
      // decorative arrow below CTA button
      content: url(/assets/decor/arrow-down.svg);
      position: absolute;
      top: 605px; // moves the arrow down from the button
    }

    &-title {
      color: vars.$txt-primary-color;
      font-size: vars.$title-xxl;
      margin: 0;
    }
    &-txt {
      @include mixin.grey-section-txt;
      line-height: vars.$line-height-200;
      margin: 40px 0 80px 0;
    }
  }
  &__element-ring {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    @media (max-width: vars.$breakpoint-l) {
      display: none;
    }
  }
  &__media {
    flex: 0 1 50%;
    position: relative;
    @media (max-width: vars.$breakpoint-l) {
      order: 1;
    }

    &-wrapper {
      position: relative;
      @include mixin.flex-center;
      width: 100%;
    }
    &-gradient {
      // giant gradient element in hero
      position: absolute;
      width: 1500px;
      height: 180%;
      left: 20%;
      bottom: 35%;
      transform: translateY(50%);
      border-radius: vars.$br-radius-xl;
      @include mixin.violet-gradient(180deg);
      z-index: -1;
      @media (max-width: vars.$breakpoint-l) {
        bottom: 45%;
        height: 140%;
      }
    }

    &-img {
      position: relative;
      width: 100%;
      height: auto;
      z-index: 2;
    }
    &-card {
      // Glass card in hero
      @include mixin.flex-center;
      position: absolute;
      padding: 28px 50px;
      top: 90%;
      left: 45%;
      border-radius: vars.$br-radius-m;
      @include mixin.glass-effect;
      color: vars.$txt-tertiary-color;
      line-height: vars.$line-height-160;
      z-index: 3;
      @media (max-width: vars.$breakpoint-l) {
        left: 25%;
      }
    }
    &-wave {
      position: absolute;
      width: 250%;
      left: -135%;
      bottom: -110%;
      z-index: 1;
      pointer-events: none;
      @media (max-width: vars.$breakpoint-l) {
        bottom: -65%;
        left: -95%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.highlight {
  background-color: vars.$accent-color-transparent;
  color: vars.$accent-color;
  border: 2px solid vars.$accent-color;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding: 0 5px;
  margin: 0 -5px; // correcting highlight element placement according to the rest of the contet
  &::before,
  &::after {
    // violet highlight for text
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: vars.$accent-color;
    box-shadow:
      103px 0 0 vars.$accent-color,
      204px 0 0 vars.$accent-color;
  }
  &::before {
    top: -4px; // placement for highlight elemets (dots)
    left: -4px;
  }
  &::after {
    bottom: -4px;
    left: -4px;
  }
}
