@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.hero {
  padding-top: 70px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    position: relative;
    @include mixin.flex-column;
    align-items: flex-start;
    max-width: 525px;
    margin-right: auto;
    &::after {
      // decorative arrow below CTA button
      content: url(/assets/decor/arrow-down.svg);
      position: absolute;
      top: 605px; // moves the arrow down from the button
    }

    &-title {
      color: vars.$txt-primary-color;
      font-size: vars.$title-xxl;

      margin: 0;
    }
    &-txt {
      @include mixin.grey-section-txt;
      line-height: vars.$line-height-200;
      margin: 40px 0 80px 0;
    }
  }
  &__element-ring {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  &__media {
    flex: 0 1 50%;

    &-composition {
      position: relative;
      width: 100%;
      max-width: 500px;
      &::before {
        // giant gradient element in hero
        content: "";
        position: absolute;
        top: -88px; //  gradient element placement
        left: 60%;
        width: 1500px;
        height: 740px;
        border-radius: vars.$br-radius-xl;
        @include mixin.violet-gradient(180deg);
        z-index: -1;
      }
    }

    &-img {
      position: absolute;

      left: 50px; // hero main img placement
      z-index: 2;
    }
    &-card {
      // Glass card in hero
      @include mixin.flex-center;
      position: absolute;
      padding: 28px 50px;
      top: 450px; // Glass card placement
      left: 430px;
      max-width: 282px;
      min-width: 180px;
      border-radius: vars.$br-radius-m;
      @include mixin.glass-effect;
      color: vars.$txt-tertiary-color;
      line-height: vars.$line-height-160;
      z-index: 3;
    }
    &-wave {
      position: absolute;
      bottom: -900px;
      left: -100px;
      transform: translateX(-50%);
      width: 500%;
      z-index: 1;
      pointer-events: none;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.highlight {
  background-color: vars.$accent-color-transparent;
  color: vars.$accent-color;
  border: 2px solid vars.$accent-color;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding: 0 5px; // Здесь появляется вопросы выранвивания текста по тескту ⚠️
  &::before,
  &::after {
    // violet highlight for text
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: vars.$accent-color;
    box-shadow:
      107.5px 0 0 vars.$accent-color,
      204px 0 0 vars.$accent-color;
  }
  &::before {
    top: -4px; // placement for highlight elemets (dots)
    left: -4px;
  }
  &::after {
    bottom: -4px;
    left: -4px;
  }
}

// @media (max-width: vars.$breakpoint-xl) {
//   .hero {
//     &__media {
//       &-img {
//         width: 368px;
//       }
//     }
//   }
// }
