@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.hero {
  padding-top: 140px;
  position: relative;
  overflow-x: clip;
  margin-bottom: 450px;
  @media (max-width: vars.$breakpoint-introduction-margin) {
    margin-bottom: 300px;
  }
  @media (max-width: vars.$breakpoint-xl) {
    padding-top: 170px;
  }
  @media (max-width: vars.$breakpoint-xxl) {
    margin-bottom: 250px;
  }
  @media (max-width: vars.$breakpoint-l) {
    margin-bottom: 60px;
  }

  &__wrapper {
    display: flex;
    gap: 200px;
    @media (max-width: vars.$breakpoint-hero-img-gap) {
      gap: 100px;
    }
    @media (max-width: vars.$breakpoint-xxl) {
      gap: 60px;
    }
    @media (max-width: vars.$breakpoint-xl) {
      gap: 42px;
    }
    @media (max-width: vars.$breakpoint-l) {
      flex-direction: column;
      align-items: center;
      gap: 160px;
    }
  }
  &__content {
    position: relative;
    @include mixin.flex-column;
    align-items: flex-start;
    flex: 0 1 50%;
    @media (max-width: vars.$breakpoint-xl) {
      flex: 0 1 40%;
    }

    &::after {
      // decorative arrow below CTA button
      content: url(/assets/decor/arrow-down.svg);
      position: absolute;
      top: 120%; // moves the arrow down from the button
      @media (max-width: vars.$breakpoint-xl) {
        top: 132%;
      }
      @media (max-width: vars.$breakpoint-l) {
        display: none;
      }
    }

    &-title {
      color: vars.$txt-primary-color;
      font-size: vars.$title-xxl;
      margin: 0;
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$title-l;
      }
      @media (max-width: vars.$breakpoint-l) {
        text-align: center;
      }
    }
    &-txt {
      @include mixin.grey-section-txt;
      line-height: vars.$line-height-200;
      margin: 40px 0 80px 0; // это пишется в 3 значном формате: top right&left bottom
      z-index: 2;
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$txt-m;
        margin: 20px 0 30px 0; // это пишется в 3 значном формате: top right&left bottom
      }
      @media (max-width: vars.$breakpoint-l) {
        text-align: center;
      }
    }
  }
  &__element-ring {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    @media (max-width: vars.$breakpoint-xl) {
      display: none;
    }
  }
  &__media {
    flex: 1 0 60%;
    position: relative;
    & img {
      position: relative;
      left: 20%;
      width: 100%;
      max-width: 848px;
      margin-right: 50px;
      z-index: 2;
      @media (max-width: vars.$breakpoint-hero-high-resolution) {
        margin-right: 150px;
      }
      @media (max-width: vars.$breakpoint-xxl) {
        margin-right: 100px;
      }
    }

    @media (max-width: vars.$breakpoint-xl) {
      flex: 0 1 60%;
    }
    @media (max-width: vars.$breakpoint-l) {
      order: -1;
    }

    &-wrapper {
      position: relative;
      @include mixin.flex-center;
    }
    &-gradient {
      // giant gradient element in hero
      position: absolute;
      width: 40vw;
      height: 85%;
      right: 0;
      bottom: 25%;
      transform: translateY(50%);
      border-radius: vars.$br-radius-xl 0 0 vars.$br-radius-xl;
      @include mixin.violet-gradient(180deg);
      z-index: -1;
      @media (max-width: vars.$breakpoint-xl) {
        bottom: 20%;
        width: 35vw;
        height: 100%;
      }

      @media (max-width: vars.$breakpoint-l) {
        height: 45%;
        bottom: 60%;
        width: 85vw;
      }
      @media (max-width: vars.$breakpoint-m) {
        // bottom: 30%;
      }
    }

    &-card {
      // Glass card in hero
      @include mixin.flex-center;
      position: absolute;
      padding: 28px 45px;
      top: 90%;
      left: 45%;
      border-radius: vars.$br-radius-m;
      @include mixin.glass-effect;
      color: vars.$txt-tertiary-color;
      line-height: vars.$line-height-160;
      z-index: 3;
      @media (max-width: vars.$breakpoint-xxl) {
        left: 40%;
        padding: 25px;
      }
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$txt-m;
        left: 43%;
        min-width: 135px;
      }
      @media (max-width: vars.$breakpoint-l) {
        min-width: unset;
        left: 25%;
      }
    }
    &-wave {
      position: absolute;
      left: 50%;
      transform: translateX(-20%);
      bottom: 0;
      width: 200%;
      min-width: 1920px;
      @media (max-width: vars.$breakpoint-xxl) {
        bottom: -60%;
      }
      @media (max-width: vars.$breakpoint-xl) {
        bottom: -105%;
      }
      @media (max-width: vars.$breakpoint-l) {
        bottom: -80%;
        transform: translateX(-80%);
      }
    }
  }
}

.hero-highlight {
  background-color: vars.$accent-color-transparent;
  color: vars.$accent-color;
  border: 2px solid vars.$accent-color;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding: 0 5px;
  margin: 0 -5px; // correcting highlight element placement according to the rest of the contet
  &::before,
  &::after {
    // violet highlight for text
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: vars.$accent-color;
    box-shadow:
      103px 0 0 vars.$accent-color,
      204px 0 0 vars.$accent-color;
  }
  &::before {
    top: -4px; // placement for highlight elemets (dots)
    left: -4px;
  }
  &::after {
    bottom: -4px;
    left: -4px;
  }
  @media (max-width: vars.$breakpoint-xl) {
    &::before,
    &::after {
      box-shadow:
        54px 0 0 vars.$accent-color,
        108px 0 0 vars.$accent-color;
    }
  }
}
