@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.instructions {
  position: relative;
  // &__wave {
  //   position: absolute;
  //   right: 0;
  //   bottom: 30%;
  //   z-index: 1;
  //   @media (max-width: vars.$breakpoint-xxl) {
  //     bottom: -80%;
  //   }
  //   @media (max-width: vars.$breakpoint-xl) {
  //     bottom: -30%;
  //   }
  //   @media (max-width: vars.$hero-wave-xl) {
  //     bottom: -35%;
  //     left: 0;
  //   }

  //   & img {
  //     width: 100vw;
  //     @media (max-width: vars.$hero-wave-l) {
  //       width: 150vw;
  //     }
  //   }
  // }
  &__wrapper {
    position: relative;
    @include mixin.glass-effect;
    border-radius: 0 0 vars.$br-radius-xxl vars.$br-radius-xxl;
    max-width: 90vw;
    margin: 0 auto;
  }
  &__title {
    position: relative;
    z-index: 2;
    font-size: vars.$title-xl;
    margin-bottom: 100px;
    @media (max-width: vars.$breakpoint-xl) {
      font-size: vars.$title-m;
    }
    @media (max-width: vars.$breakpoint-l) {
      margin-bottom: 30px;
      text-align: center;
    }
    &-container {
      display: flex;
      flex-direction: row;
      gap: 80px;
    }
    &--violet {
      color: vars.$accent-color;
    }
  }
  &__list {
    position: relative;
    z-index: 2;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(-webkit-max-content, 1fr));
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    padding: 0;
    justify-content: space-evenly;
    margin-bottom: 60px;
    gap: 35px;
    @media (max-width: vars.$breakpoint-xxl) {
      grid-template-columns: 1fr;
      max-width: 700px;
      margin: 0 auto;
    }
  }
  &__item {
    display: flex;
    &-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
      @media (max-width: vars.$breakpoint-l) {
        align-items: center;
      }
    }
    &-subtitle {
      font-size: vars.$title-xl;
      color: vars.$accent-color;
      font-weight: vars.$font-weight-bold;
      margin-bottom: 60px;
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$title-s;
      }
    }
    &-txt {
      color: vars.$txt-secondary-color;
      font-size: vars.$txt-xxl;
      line-height: vars.$line-height-180;
      @media (max-width: vars.$breakpoint-instructions-cards) {
        max-width: 250px;
      }
      @media (max-width: vars.$breakpoint-xxl) {
        max-width: none;
      }
      &--violet {
        color: vars.$accent-color;
      }
      @media (max-width: vars.$breakpoint-xxl) {
        & br {
          display: none;
        }
      }
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$txt-l;
      }
      @media (max-width: vars.$breakpoint-m) {
        font-size: vars.$txt-m;
      }
    }
  }

  &__card {
    display: flex;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    @media (max-width: vars.$breakpoint-instructions-cards) {
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
