@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.instructions {
  position: relative;

  &__wrapper {
    position: relative;
    background: linear-gradient(90deg, rgba(171, 253, 191, 0.1) 0%, rgba(236, 141, 255, 0.1) 100%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0 0 vars.$br-radius-xxl vars.$br-radius-xxl;
    max-width: 90vw;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  &__title {
    position: relative;
    z-index: 2;
    font-size: vars.$title-xl;
    margin: 0 0 100px 0;
    & br {
      display: none;
    }
    @media (max-width: vars.$breakpoint-xl) {
      font-size: vars.$title-m;
    }
    @media (max-width: vars.$breakpoint-xl) {
      margin: 0 0 60px 0;
    }
    @media (max-width: vars.$breakpoint-l) {
      text-align: center;
      margin: 0 0 30px 0;
      & br {
        display: inline;
      }
    }
    &-container {
      display: flex;
      flex-direction: row;
      gap: 80px;
    }
    &--violet {
      color: vars.$accent-color;
    }
    @media (max-width: vars.$breakpoint-xl) {
      align-self: center;
    }
  }
  &__list {
    position: relative;
    z-index: 2;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(-webkit-max-content, 1fr));
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    padding: 0;
    gap: 35px;
    margin-bottom: 60px;
    @media (max-width: vars.$breakpoint-xxl) {
      grid-template-columns: 1fr;
      max-width: 700px;
      margin: 0 auto 60px auto;
    }
    @media (max-width: vars.$breakpoint-l) {
      margin: 0 auto 40px auto;
    }
  }
  &__item {
    display: flex;
    &-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
      @media (max-width: vars.$breakpoint-l) {
        text-align: center;
      }
    }
    &-subtitle {
      font-size: vars.$title-xl;
      color: vars.$accent-color;
      font-weight: vars.$font-weight-bold;
      margin-bottom: 60px;

      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$title-s;
        margin-bottom: 37px;
      }
      @media (max-width: vars.$breakpoint-l) {
        margin-bottom: 30px;
      }
    }
    &-txt {
      color: vars.$txt-secondary-color;
      font-size: vars.$txt-xxl;
      line-height: vars.$line-height-180;
      @media (max-width: vars.$breakpoint-instructions-cards) {
        max-width: 250px;
      }
      @media (max-width: vars.$breakpoint-xxl) {
        max-width: none;
      }
      &--violet {
        color: vars.$accent-color;
      }
      @media (max-width: vars.$breakpoint-xxl) {
        & br {
          display: none;
        }
      }
      @media (max-width: vars.$breakpoint-xl) {
        font-size: vars.$txt-l;
      }
      @media (max-width: vars.$breakpoint-m) {
        font-size: vars.$txt-m;
      }
    }
  }

  &__card {
    display: flex;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    margin-bottom: 40px;
    @media (max-width: vars.$breakpoint-xl) {
      margin-bottom: 30px;
    }
    @media (max-width: vars.$breakpoint-xl) {
      margin-bottom: 20px;
    }
  }
  &__btn {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  &__wave {
    position: absolute;
    bottom: 40%;
    & img {
      width: 100vw;
    }
  }
}
