@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.introduction {
  &__content {
    @include mixin.section-content;
    &-title {
      @include mixin.section-title;
    }
    &-txt {
      @include mixin.section-txt;
    }
  }
  &__cards {
    @include mixin.section-list;
    &-item {
      @include mixin.list-item;
    }
  }
}
