@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.introduction {
  margin-bottom: 250px;
  @media (max-width: vars.$breakpoint-xl) {
    margin-bottom: 80px;
  }
  @media (max-width: vars.$breakpoint-l) {
    margin-bottom: 60px;
  }
  &__content {
    @include mixin.section-content;
    @media (max-width: vars.$breakpoint-l) {
      margin-bottom: 20px;
    }

    &-title {
      flex: 0 1 50%;
      @include mixin.section-title;
      @media (max-width: vars.$breakpoint-xxl) {
        flex: 0 1 50%;
        min-width: 464px;
      }
      @media (max-width: vars.$breakpoint-xl) {
        flex: 0 0 50%;
        min-width: 258px;
      }
    }
    &-txt {
      flex: 0 1 40%;
      &--black {
        font-weight: vars.$font-weight-medium;
        color: vars.$txt-primary-color;
      }
      @include mixin.section-txt;
      @media (max-width: vars.$breakpoint-xxl) {
        flex: 0 1 50%;
      }
    }
  }
  &__cards {
    @include mixin.section-list;
    &-item {
      @include mixin.list-item;
      min-width: 170px;
    }
  }
}
