@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 1000;
  &--hidden {
    transform: translateY(-100%);
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
  }
}

.navbar {
  &__menu {
    display: flex;
    gap: 60px;
    align-items: center;
  }
  &__list {
    display: flex;
    list-style: none;
    gap: 60px;
  }
  &__item {
    display: block;
    text-decoration: none;
    position: relative;
    color: vars.$link-color;
    line-height: vars.$line-height-150;
    font-weight: vars.$font-weight-medium;
    transition:
      transform 0.3s ease,
      color 0.3s ease;
    &::after {
      // decorative line below the link
      position: absolute;
      bottom: -5px;
      content: "";
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 3px;
      background-color: vars.$accent-color;
      transition: width 0.3s ease;
    }
    @include mixin.hover {
      color: vars.$accent-color;
      &::after {
        width: 100%;
      }
    }
    &:active {
      transform: translateY(3px);
    }
  }
}

.lang-link {
  border: none;
  background-color: transparent;
  color: vars.$link-color;
  position: relative;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
  @include mixin.hover {
    color: vars.$accent-color;
  }
  &::after {
    // decorative arrow for language switcher
    content: "";
    position: absolute;
    right: -10px;
    top: 8px;
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: translateY(-70%) rotate(45deg);
    transition: transform 0.3s ease;
  }
  &:active {
    transform: translateY(3px);
  }
}
@media (max-width: vars.$breakpoint-xxl) {
  .navbar {
    &__menu {
      gap: 30px;
    }
    &__list {
      gap: 29px;
    }
  }
}
@media (max-width: vars.$breakpoint-xl) {
  .navbar {
    &__menu {
      @include mixin.flex-column;
      @include mixin.glass-effect;
      position: fixed;
      visibility: hidden;
      top: 50px;
      right: -100%;
      width: auto;
      height: auto;
      border-radius: vars.$br-radius-l;
      padding: 40px;
      transition:
        right 0.4s ease,
        visibility 0.4s ease;
      z-index: 999;
      &--active {
        right: 35px;
        visibility: visible;
      }
    }
    &__list {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }
}
