@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.one-click {
  position: relative;
  overflow-x: clip;
  margin-bottom: 250px;
  &__ellipse {
    position: absolute;
    z-index: -1;
    width: 50vw;
    max-width: 960px;
    top: -170px;
    right: 0;

    @media (max-width: vars.$breakpoint-xl) {
      top: -190px;
      width: 95vw;
    }
  }
  &__cube {
    position: absolute;
    width: 10vw;
    z-index: -2;
    top: -220px;
    right: 450px;
    @media (max-width: vars.$breakpoint-xl) {
      width: 122px;
      right: 55%;
      top: -150px;
    }
  }
  &__wrapper {
    @include mixin.gif-section(row-reverse);
  }
  &__media {
    &-wrapper {
      @include mixin.gif-section-media;
      position: relative;
    }
  }
  &__content {
    @include mixin.gif-section-content;

    &-title {
      @media (max-width: vars.$breakpoint-xl) {
        flex: 0 0 35%;
      }
      @include mixin.section-title;
    }
    &-txt {
      @media (min-width: vars.$breakpoint-xxl) {
        max-width: 460px;
      }
      @media (max-width: vars.$breakpoint-xl) {
        flex: 0 1 65%;
        max-width: 442px;
      }
      @include mixin.section-txt;
      &--wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      &--violet {
        color: vars.$accent-color;
      }
    }
  }
}
