@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.recording {
  position: relative;
  overflow-x: clip;
  margin-bottom: 250px;

  &__wrapper {
    @include mixin.gif-section(row);
  }
  &__media {
    &-wrapper {
      @include mixin.gif-section-media;
      position: relative;
    }
    &-glass {
      position: absolute;
      left: 0;
      top: 30%;
      width: 35vw;
      height: 80%;
      z-index: -1;
      border-radius: 0 vars.$br-radius-xl vars.$br-radius-xl 0;
      background: linear-gradient(90deg, rgba(255, 89, 248, 0.1) 0%, rgba(255, 238, 0, 0.1) 100%);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      @media (max-width: vars.$breakpoint-xl) {
        width: 50vw;
        top: 15%;
        height: 60%;
      }
      @media (max-width: vars.$breakpoint-l) {
        width: 60vw;
        border-radius: vars.$br-radius-xl;
      }
    }
    &-wave {
      position: absolute;
      left: 50%;
      top: -100%;
      width: 300%;
      transform: translateX(-40%);
      min-width: 1920px;
      z-index: -3;
      @media (max-width: vars.$breakpoint-xxl) {
        top: -170%;
      }
    }
  }
  &__element-ring {
    position: relative;
    z-index: -2;
  }
  &__content {
    @include mixin.gif-section-content;

    &-title {
      @media (max-width: vars.$breakpoint-xl) {
        flex: 0 0 35%;
      }
      @include mixin.section-title;
    }
    &-txt {
      @media (min-width: vars.$breakpoint-xxl) {
        max-width: 460px;
      }
      @media (max-width: vars.$breakpoint-xl) {
        flex: 0 1 65%;
        max-width: 442px;
      }
      @include mixin.section-txt;
      &--wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      &--violet {
        color: vars.$accent-color;
      }
    }
  }
}
