@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.recording {
  position: relative;
  overflow-x: clip;
  margin-bottom: 100px;
  &__wrapper {
    @include mixin.gif-section(row);
  }
  &__media {
    &-wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      flex: 0 1 50%;
    }
    &-gif {
      z-index: 0;
      width: 100%;
      max-width: 400px;
    }
    &-glass {
      position: absolute;
      left: 0;
      top: 30%;
      width: 35vw;
      height: 80%;
      z-index: -1;
      border-radius: 0 vars.$br-radius-xl vars.$br-radius-xl 0;
      background: linear-gradient(90deg, rgba(255, 89, 248, 0.1) 0%, rgba(255, 238, 0, 0.1) 100%);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      @media (max-width: vars.$breakpoint-xl) {
        width: 50vw;
        top: 15%;
        height: 60%;
      }
      @media (max-width: vars.$breakpoint-l) {
        width: 60vw;
        border-radius: vars.$br-radius-xl;
      }
    }
    &-wave {
      position: absolute;
      top: -90%;
      left: -35%;
      z-index: -3;
    }
  }
  &__element-ring {
    position: relative;
    z-index: -2;
  }
  &__content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: vars.$breakpoint-xl) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (max-width: vars.$breakpoint-l) {
      flex-direction: column;
      justify-content: space-between;
    }
    &-title {
      @media (max-width: vars.$breakpoint-xl) {
        flex: 0 1 50%;
      }
      @include mixin.section-title;
    }
    &-txt {
      @media (max-width: vars.$breakpoint-xl) {
        flex: 0 1 50%;
      }
      @include mixin.section-txt;
      &--wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      &--violet {
        color: vars.$accent-color;
      }
    }
  }
}
