@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.recording {
  overflow-x: clip;
  margin-bottom: 100px;
  &__wrapper {
    display: flex;
    gap: 150px;
    @media (max-width: vars.$breakpoint-xl) {
      flex-direction: column;
      gap: 60px;
    }
    @media (max-width: vars.$breakpoint-l) {
      gap: 30px;
    }
  }
  &__media {
    &-wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      flex: 0 1 50%;
    }
    &-gif {
      z-index: 0;
      width: 50%;
    }
    &-glass {
      position: absolute;
      width: 1500px;
      height: 130%;
      left: -170%;
      top: -10%;
      z-index: -1;
      border-radius: vars.$br-radius-xl;
      //   @include mixin.glass-effect;
      background-color: rgb(159, 116, 116);
      @media (max-width: vars.$breakpoint-xl) {
        left: -200%;
        height: 150%;
      }
      @media (max-width: vars.$breakpoint-l) {
        left: -230%;
        height: 100%;
      }
    }
    &-wave {
      position: absolute;
      top: -90%;
      left: -35%;
      z-index: -2;
    }
  }
  &__element-ring {
    position: relative;
    z-index: -1;
  }
  &__content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: vars.$breakpoint-xl) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (max-width: vars.$breakpoint-l) {
      flex-direction: column;
      justify-content: space-between;
    }
    &-title {
      @include mixin.section-title;
    }
    &-txt {
      @include mixin.section-txt;
      &--wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      &--violet {
        color: vars.$accent-color;
      }
    }
  }
}
