@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.recording {
  position: relative;
  overflow-x: clip;
  margin-bottom: 250px;

  &__wrapper {
    @include mixin.gif-section(row);
  }
  &__media {
    &-wrapper {
      @include mixin.gif-section-media;
      position: relative;
    }
    &-glass {
      position: absolute;
      left: 0;
      top: 30%;
      width: 35vw;
      height: 80%;
      z-index: -1;
      border-radius: 0 vars.$br-radius-xl vars.$br-radius-xl 0;
      background: linear-gradient(90deg, rgba(179, 63, 173, 0.1) 0%, rgba(211, 202, 71, 0.1) 100%);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      @media (max-width: vars.$breakpoint-xl) {
        width: 50vw;
        top: 15%;
        height: 60%;
      }
      @media (max-width: vars.$breakpoint-recording-glass) {
        width: 50vw;
        top: 15%;
        height: 55%;
      }
      @media (max-width: vars.$breakpoint-l) {
        width: 60vw;
        height: 35%;
        top: 10%;
        border-radius: vars.$br-radius-xl;
      }
    }
    &-wave {
      position: absolute;
      right: 0;
      bottom: 25%;
      z-index: -3;
      @media (max-width: vars.$breakpoint-high-resolution) {
        bottom: 45%;
      }
      @media (max-width: vars.$breakpoint-xl) {
        bottom: 70%;
      }
      @media (max-width: vars.$hero-wave-xl) {
        bottom: 75%;
      }
      @media (max-width: vars.$breakpoint-l) {
        bottom: 80%;
      }
      & img {
        width: 100vw;
      }
    }
  }
  &__element-ring {
    position: relative;
    z-index: -2;
    @media (max-width: vars.$breakpoint-xl) {
      width: 125px;
    }
    @media (max-width: vars.$breakpoint-l) {
      width: 61px;
    }
  }
  &__content {
    @include mixin.gif-section-content;

    &-title {
      @media (max-width: vars.$breakpoint-xl) {
        flex: 0 0 35%;
      }
      @include mixin.section-title;
    }
    &-txt {
      @media (min-width: vars.$breakpoint-xxl) {
        max-width: 460px;
      }
      @media (max-width: vars.$breakpoint-xl) {
        flex: 0 1 65%;
        max-width: 442px;
      }
      @include mixin.section-txt;
      &--wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      &--violet {
        color: vars.$accent-color;
      }
    }
  }
}
