@use "../utils/variables" as vars;
@use "../utils/mixins" as mixin;

.useful {
  margin-bottom: 180px;
  @media (max-width: vars.$breakpoint-xl) {
    margin-bottom: 100px;
  }
  @media (max-width: vars.$breakpoint-l) {
    margin-bottom: 60px;
  }
  &__glass-card {
    position: relative;
    padding: 10px 24px;
    @include mixin.flex-center;
    display: inline-block;
    margin-bottom: 23px;
    color: vars.$txt-secondary-color;
    font-size: vars.$txt-xl;
    line-height: vars.$line-height-160;
    @media (max-width: vars.$breakpoint-xl) {
      font-size: vars.$txt-m;
    }
    // Glass card background
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(200, 200, 200, 0.3);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: vars.$br-radius-m;
      border: 1px solid rgba(255, 255, 255, 0.1);
      z-index: -1;
      pointer-events: none;
    }
    // Arrow for glass card background
    &::after {
      content: "";
      position: absolute;
      left: 20px;
      bottom: -25px;
      width: 20px;
      height: 20px;
      transform: translateY(-70%) rotate(45deg);
      background: rgba(200, 200, 200, 0.3);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      -webkit-clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
      clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
      z-index: -1;
      pointer-events: none;
    }
    & img {
      position: absolute;
      z-index: -2;
      top: -20%;
      @media (max-width: vars.$breakpoint-xl) {
        width: 53px;
      }
      @media (max-width: vars.$breakpoint-l) {
        top: -40%;
      }
    }
  }
  &__content {
    @include mixin.section-content;

    &-title {
      flex: 0 1 50%;
      @include mixin.section-title;
      @media (max-width: vars.$breakpoint-xxl) {
        flex: 0 1 50%;
        min-width: 464px;
      }
      @media (max-width: vars.$breakpoint-xl) {
        flex: 0 0 50%;
        min-width: 258px;
      }
    }
    &-txt {
      flex: 0 1 40%;
      &--black {
        font-weight: vars.$font-weight-medium;
        color: vars.$txt-primary-color;
      }
      @include mixin.section-txt;
      @media (max-width: vars.$breakpoint-xxl) {
        flex: 0 1 50%;
      }
    }
  }
  &__cards {
    @include mixin.section-list;
    &-item {
      @include mixin.list-item;
      min-width: 170px;
    }
  }
}
