@use "../utils/mixins" as mixin;
@use "../utils/variables" as vars;

.container {
  @include mixin.container;
}

.logo {
  width: clamp(141px, 15vw, 250px); // Max-width 250px, min-width 250px, 15vw between max and min
} // прикольно что clamp применил, мне кажется на ширине перед исчезновением меню надпись лого становится совсем мелкой, а мотто под ней тем более 🛑
// плюс, пока что на бургерных размерах выглядит будто многовато пространства над меню, но скорее всего это пока нет остальных секций

.burger {
  display: none;
  background-color: transparent;
  position: relative;
  z-index: 1001;
  border: none;
  transition: transform 0.3s ease;
  &:active {
    transform: scale(0.9) translateY(3px);
  }
}

@media (max-width: vars.$breakpoint-xl) {
  .burger {
    display: flex;
  }
}
