@use "../utils/mixins" as mixin;
@use "../utils/variables" as vars;

.container {
  @include mixin.container;
}

.logo {
  width: clamp(141px, 23vw, 250px); // Max-width 250px, min-width 250px, 15vw between max and min
}
.burger {
  display: none;
  background-color: transparent;
  position: relative;
  z-index: 1001;
  border: none;
  transition: transform 0.3s ease;
  &:active {
    transform: scale(0.9) translateY(3px);
  }
}

// Mainly btns in project are black, that's why general style for btn with black bgc
.btn {
  text-decoration: none;
  padding: 23px 41px;
  color: vars.$txt-tertiary-color;
  background-color: vars.$element-black-color;
  border-radius: vars.$br-radius-s;
  transition: transform 0.3s ease;
}

.btn-violet {
  @include mixin.violet-gradient(90deg);
  transition: backrdoung 0.3s ease;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    @include mixin.violet-gradient(180deg);
    // background-color: vars.$accent-color;
    border-radius: vars.$br-radius-s;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    opacity: 0.5;
    transition: left 0.5s ease;
  }
  @include mixin.hover {
    &::after {
      left: 0%;
    }
  }
}

@media (max-width: vars.$breakpoint-xl) {
  .burger {
    display: flex;
  }
}
