@use "../utils/mixins" as mixin;
@use "../utils/variables" as vars;

.container {
  @include mixin.container;
}

// .logo {
//   width: clamp(141px, 23vw, 250px); // Max-width 250px, min-width 250px, 15vw between max and min
// }

.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "icon title"
    "icon subtitle";
  text-decoration: none;
  -moz-column-gap: 10px;
  column-gap: 7px;

  &__icon {
    width: 40px;
    height: 40px;
    grid-area: icon;
    align-self: center;
  }

  &__title {
    font-family: "Inter Variable", sans-serif;
    font-weight: vars.$font-weight-bold;
    color: vars.$accent-color;
    font-size: vars.$title-l;
    letter-spacing: 1.5px;
    grid-area: title;
  }

  &__subtitle {
    font-family: "Inter Variable", sans-serif;
    font-size: vars.$logo-subtitle-l;
    font-weight: vars.$font-weight-regular;
    color: vars.$logo-subtitle-color;
    grid-area: subtitle;
  }
}
.burger {
  display: none;
  background-color: transparent;
  position: relative;
  z-index: 1001;
  border: none;
  transition: transform 0.3s ease;
  &:active {
    transform: scale(0.9) translateY(3px);
  }
}

// Mainly btns in project are black, that's why general style for btn with black bgc
.btn {
  text-decoration: none;
  padding: 23px 41px;
  color: vars.$txt-tertiary-color;
  background-color: vars.$element-black-color;
  border-radius: vars.$br-radius-s;
  transition: transform 0.3s ease;
  @media (max-width: vars.$breakpoint-xl) {
    font-size: vars.$txt-m;
  }
}

.btn-violet {
  @include mixin.violet-gradient(90deg);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 2;
  @media (max-width: vars.$breakpoint-l) {
    align-self: center;
  }
  @media (max-width: vars.$breakpoint-hero-btn) {
    padding: 23px 30px;
  }

  @include mixin.hover {
    transform: translateY(-2px);
    box-shadow:
      0 6px 20px rgba(vars.$accent-color, 0.4),
      0 15px 40px rgba(vars.$accent-color, 0.2);
  }
  &:active {
    transform: scale(0.9);
  }
}

@media (max-width: vars.$breakpoint-xl) {
  .burger {
    display: flex;
  }
}
