@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-Regular.woff2"); // best practice - указать формат вот так src: url("/assets/fonts/rubik/Rubik-Regular.woff2") format("woff2"); 🛑
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/rubik/Rubik-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
