@use "../utils/variables" as vars;

body {
  font-family: "Rubik", sans-serif;
  background-color: vars.$bg-primary-color;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

:root {
  interpolate-size: allow-keywords;
}
